[mysqld]
character-set-server=utf8mb4
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
explicit_defaults_for_timestamp = 1

# utf8mb4 long key index
innodb_large_prefix = 1
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_file_per_table = 1

max_connections=256

net_read_timeout = 2000
net_write_timeout = 2000

# Set General Log
log_output=FILE
general_log=1
# for log file
# general_log_file=/var/log/mysql/genquery.log
# for docker logs
general_log_file=/dev/stdout

# Set Slow Query Log
long_query_time=1
slow_query_log=1
slow_query_log_file=/var/log/mysql/slowquery.log

[client]
default-character-set=utf8mb4
